body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

canvas {
    display: block; /* This ensures the canvas doesn't behave like an inline element */
}

#left {
    display: flex;
    flex-direction: column;
    flex: 0.4;  /* 40% of the body's width */
}

#right {
    display: flex;
    flex-direction: column;
    flex: 0.6;  /* 60% of the body's width */
}

/* Top left section */
#topLeft {
    flex: 2; /* Double the height of the bottom left section */
    background-color: #00999e; /* Teal color from your image */
}

/* Bottom left section */
#bottomLeft {
    flex: 1; 
    background-color: #ffb447; /* Orange color from your image */
}

/* Top right section */
#topRight {
    flex: 2; /* Double the height of the bottom right section */
    background-color: #ffc6d6; /* Pink color from your image */
}

/* Bottom right section */
#bottomRight {
    flex: 1; 
    background-color: #9078aa; /* Lavender color from your image */
}