body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    display: flex;         
    flex-direction: column; 
    height: 100vh;   
    background-color: rgb(148, 205, 255);
}


.countries, .mundi-map {
    flex: 1; 
    border: 1px solid black; /* temporary border to visualize the sections */
    background-color: aquamarine;
}


#countries-list, #countries-map {
    height: 100%; 
    border: 1px solid black; /* temporary border to visualize the sections */
}

.countries {
    display: flex;
    flex-direction: row;
    background-color: bisque;
}

.half {
    flex: 1;  /* equally divide the space between the two child divs */
    border: 1px solid black;  /* temporary border to visualize the division */
    height: 100%;  /* make them fill their parent's height */
    background-color: blueviolet;
}

/* #topContainer {
    display: flex;     
    flex: 1;           
}

#topLeft {
    flex: 1;           
    background-color: rgb(195, 255, 0);
}

#topRight {
    flex: 1;          
    background-color: green;
}

#play-bottom {
    position: absolute;
    flex: 1;
    background-color: blue;
    top: 100px;
    left: 81px;
}

#sound-slider{
    position: absolute;
}

#rate-slider{
    position: absolute;
} */
